<h1> <%= @heroine.super_name %> </h1>
<br />
<h1> <%= @heroine.name %> </h1>

<h2> Powers: </h2>
<% @heroine.powers.each do |power| %>
    <% @heroine.heroine_powers.each do |hpower| %>
   <p> <%= link_to power.name, power%> strength: <%= hpower.strength%><p>

    </br>
    <% end%>
    <% end %>